{% for stack in stacks %}
{% for route-name in stack.route-names %}
import {{route-name}} from '../pages/{{route-name}}.js';
{% endfor %}
{% endfor %}

{% for stack in stacks %}
const {{stack.stack-name}} = createStackNavigator(
    {
        {% for route-name in stack.route-names %}
        {{route-name}},
        {% endfor %}
    },
    {% if stack.config.modal %}
    {
        mode: 'modal',
    },
    {% endif %}
);
{% endfor %}

